@tailwind base;
@import 'antd/dist/antd.css';
@tailwind components;
@tailwind utilities;
@import './Search.css';

html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* font-family: 'Noto Sans SC', 'Lexand', sans-serif; */
    @apply mb-1 flex items-center;
  }
  /*   [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply bg-transparent shadow-none focus:shadow-none outline-none focus:outline-none border-none focus:border-transparent ring-0 focus:ring-0;
  } */
  img {
    @apply opacity-100 duration-500 ease-in-out dark:opacity-70 dark:hover:opacity-100;
  }
  button {
    @apply flex justify-center items-center;
  }
}

@layer utilities {
  .dd-inline {
    @apply ml-2 inline text-xs font-medium text-gray-500 dark:text-gray-400 whitespace-nowrap;
  }
  .dt-inline {
    @apply inline-block text-xs whitespace-nowrap;
  }
  .v-rule {
    @apply mx-2 border-l border-gray-200 dark:border-gray-600;
  }
  .bg-img {
    @apply fixed h-screen w-screen overflow-hidden z-0;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .card-shadow {
    @apply shadow-md transition-all duration-150 ease-in-out hover:shadow-xl focus:shadow-xl;
  }
  .acrylic {
    backdrop-filter: saturate(180%) blur(5px);
  }
  .acrylic-text {
    @apply bg-opacity-80 dark:bg-opacity-50 opacity-80 dark:opacity-50;
    backdrop-filter: saturate(180%) blur(5px);
  }
  .link {
    @apply text-blue-500 hover:text-blue-600 dark:hover:text-blue-400;
  }
  .h-8-1 {
    height: 1.9rem;
  }
}

@layer components {
  .index-container {
    background-image: url(https://ftp.bmp.ovh/imgs/2021/04/04a93a5ed32d1758.webp);
    @apply opacity-100 duration-500 ease-in-out dark:opacity-70;
  }

  @screen sm {
    .index-container {
      background-image: url(https://ftp.bmp.ovh/imgs/2021/04/a6aee4cfa257e370.webp);
    }
  }
  .responsive-element {
    @apply border border-gray-300 dark:border-gray-600 border-solid focus:ring focus:border-blue-500 dark:focus:border-blue-500  hover:border-blue-500 dark:hover:border-blue-500 ring-blue-400 ring-opacity-40 duration-200;
  }
  .remark-code-title {
    @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
  }

  .remark-code-title + pre {
    @apply mt-0 rounded-t-none;
  }

  .task-list-item::before {
    @apply hidden;
  }

  .custom-link:hover::after {
    content: '';
    height: 3px;
    width: 18px;
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -9px;
    @apply bg-blue-500 dark:hover:text-blue-400;
  }

  .active-link::after {
    content: '';
    height: 3px;
    width: 18px;
    position: absolute;
    right: 50%;
    bottom: 0;
    margin-right: -9px;
    @apply bg-blue-500;
  }
  .ant-tabs-tab {
    @apply flex justify-between items-center p-0 m-0 dark:bg-gray-800 dark:text-white;
  }
  .ant-tabs-nav-add,
  .ant-tabs-nav-operations,
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    @apply dark:bg-gray-800 dark:text-white;
  }
  label,
  .ant-form-item-label > label .ant-form-item-tooltip {
    @apply dark:text-white;
  }
  .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
  .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    @apply p-0;
  }
  .ant-row.ant-form-item {
    @apply sm:flex-nowrap;
  }
  div.ant-tabs-nav {
    @apply my-1 h-8;
  }
  .ant-switch-inner {
    @apply grid;
  }
  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    @apply m-0;
  }
  .ant-spin-nested-loading > div > .ant-spin {
    @apply flex-center;
  }
}

#weather > div {
  display: block;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgba(255, 255, 255, 0.45); */
  /* backdrop-filter: blur(3px); */
}
